<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>

	<h1>Edit Photo Page</h1>

            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/photos">Photos Index</a>
                    </li>
                </ul>
            </nav>
        </header>
   

			Image: <input type="text" name="link" value="img link"><br>
			Body: <input type="text" name="body"><br>


			 <input type="submit" value="Update Photo"/>	
			




</body>
</html>