<!DOCTYPE html>
<html>
<head>

	<title></title>



	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">



	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">


</head>
<body style="background-color:lightblue">


	<%- body %>


</body>
</html>