<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<a href="/users/logout">Log out</a>
</nav>


<h1>This is the Home page</h1>


	<a href="/users">Users</a>
	<a href="/photos">Photos</a>




</body>
</html>