<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Welcome to the Photosite</h1>

	<p><a href="/users/register">Register</a></p>
	<p><a href="/users/login">Login</a></p>
	<p><a href="/home">Home</a></p>




</body>
</html>