<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Please Login</h1>

	<form action="/users/login" method="POST">
		<input type="username" name="username" placeholder="username"/><br>
		<input type="password" name="password" placeholder="password"/><br>
		<button>Login</button>
	</form>


	<p><small>Need an account? <a href="/users/register">Register Here</a></small></p>










</body>
</html>