<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<h3>Please register for an account.</h3>

	<form action="/users/register" method="POST">
		<input type="username" name="username" placeholder="username"/><br>
		<input type="password" name="password" placeholder="password"/><br>
		<button>Register</button>
	</form>



	<p>Already have an Account? <a href="/users/login">Login here</a></p>





</body>
</html>