<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header class="container">
		<h1 class="text-center">Meet the Talented Photographers</h1>
	

			<nav>
				<ul class="row justify-content-around">
					<li><a href="/">Home</a></li>
					<li><a href="/users/new">Add your Info!</a></li>	
				</ul>
			</nav>

	

	</header>

	<main class="container">

		<h2>List of Users</h2>

		<div class="card" style="width: 18rem;">	

		<div class="card-body">	

		<ul>
			
			<% for (let i = 0; i < userList.length; i++) { -%>
		
				<p class="text-center"><h5 class="card-title"><a href="/users/<%= userList[i].id%>"><%= userList[i].username%></a></h5></p><br>

				
		
			<% } -%>

		</ul>

		</div>	

		</div>		

	</main>



</body>
</html>