<!DOCTYPE html>
<html>
<head>
	<title>New User</title>
</head>
<body>

		<h1>Welcome to Photo Drop!</h1>

		<ul>
				<li><a href="/">Home</a></li>
				
		</ul>


		<form action="/users" method="POST">
			Username: <input type="text" name="username"><br>
			<input type="submit" name="" value="Create User">

		</form>






</body>
</html>